body {
    margin: 0;
    background-color: #fff;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clear-both {
    clear: both;
}

.af-navbar-full .af-navbar-top-container {
    background: #323232;
}
.af-navbar-full .af-navbar-bottom-container {
    background: #efefef;
}
.af-navbar-full .af-navbar-bottom-container .af-navbar-main-menu .af-menu-item {
    padding: 30px;
}

.ap-brand-container {
    padding: 10px 0px;
}
/*
.ap-top-menu-contact {
    padding-left: 40px !important;
    background: url('../img/icon-contact.png') no-repeat left center;
    background-size: 30px 30px;
    color: #fff;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 100;
    padding-right: 40px;
    border-right: 1px solid #777;
}

.ap-top-menu-sign-in a {
    font-size: 16px;
    line-height: 20px;
    padding: 7px 0px 7px 40px;
    background: url('../img/icon-sign-in.png') no-repeat left center;
    background-size: 30px 30px;
    color: #fff;
    opacity: 0.6;
    font-weight: 100;
    transition: opacity 0.2s;
    letter-spacing: 1px;
}
.ap-top-menu-sign-in a:hover {
    opacity: 1.0;
    text-decoration: none !important;
}

.ap-navbar-container {
    position: relative;
    padding: 0px;
}

.ap-navbar-top ul {
    float: right;
    flex-direction: row;
}
.ap-navbar-top .nav-item {
    padding: 10px 30px;
}

.ap-navbar-main {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
}
.ap-navbar-main ul {
    clear: right;
    float: right;
    flex-direction: row;
    height: 50px;
}
.ap-navbar-main .nav-item a {
    display: block;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 200 !important;
    line-height: 18px;
    transition: background 0.2s;
    padding: 15px 30px;
    border-top: 2px solid #000;
    letter-spacing: 2px;
}
.ap-navbar-main .nav-item a:hover {
    background: #333;
    text-decoration: none !important;
}
.ap-navbar-main .nav-item.active a {
    border-top: 2px solid #faf307;
}
*/
#navbar {
    top: -60px;
    transition: top 0.3s;
    background-color: #000 !important;
    opacity: 0.85;
    padding-top: 0px;
    padding-bottom: 0px;
}
#navbar ul.navbar-nav.mr-auto {
    margin-left: 20px;
}
#navbar ul.navbar-nav.mr-auto .nav-item .nav-link {
    padding: 5px 20px;
    border-bottom: 2px solid #000;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ccc;
    transition: color 0.2s;
}
#navbar ul.navbar-nav.mr-auto .nav-item .nav-link:hover {
    color: #fff;
}
#navbar ul.navbar-nav.mr-auto .nav-item.active .nav-link {
    border-bottom: 2px solid #faf307;
}

#navbar .ap-secondary-menu-sign-in a {
    font-size: 16px;
    line-height: 20px;
    padding: 7px 0px 7px 40px;
    background: url('../img/icon-sign-in.png') no-repeat left center;
    background-size: 30px 30px;
    color: #fff;
    opacity: 0.6;
    font-weight: 100;
    transition: opacity 0.2s;
    letter-spacing: 1px;
}
#navbar .ap-secondary-menu-sign-in a:hover {
    opacity: 1.0;
}

@media (max-width: 767px) {
    .af-navbar-full {
        display: none;
    }
    #navbar {
        top: 0px !important;
    }
}

.ap-footer-info {
    background: #f5f5f5;
    padding: 30px 10px;
    margin-top: 40px;
}
.ap-footer-info h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
.ap-footer-info-left ul.ap-footer-info-nav {
    list-style: none;
    padding-left: 0px;
    padding-bottom: 20px;
}
.ap-footer-info-left ul.ap-footer-info-nav li a {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #777;
}

.ap-footer-info-left ul.ap-footer-info-sign-in {
    list-style: none;
    padding-left: 0px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    max-width: 150px;
}
.ap-footer-info-left ul.ap-footer-info-sign-in li a.ap-footer-info-sign-in-link {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 0px 7px 30px;
    background: url('../img/icon-sign-in.png') no-repeat left center;
    background-size: 20px 20px;
    color: #333;
    opacity: 0.8;
    font-weight: 100;
    transition: opacity 0.2s;
    letter-spacing: 1px;
}

.ap-footer-info-middle input[type="text"], .ap-footer-info-middle textarea {
    color: #777;
    font-size: 14px;
    font-weight: 200;
}

.ap-footer-info-middle input[type="submit"] {
    background-color: #dfdfdf;
    color: #777;
    font-size: 14px;
    font-weight: 200;
    transition: background-color 0.2s;
}
.ap-footer-info-middle input[type="submit"]:hover {
    background-color: #cfcfcf;
}
.ap-footer-info-right {
    text-align: right;
}
.ap-footer-info-right p {
    font-size: 14px;
    font-weight: 200;
    margin: 0px;
}

footer {
    background: #efefef;
    padding: 30px 10px;
}
footer p {
    margin: 0px;
    color: #999;
    font-size: 13px;
    font-weight: 300;
}

